<div class="bar bar-header bar-balanced">
	 <h3 class="title">CLIENTE Y CARACTERÍSTICAS</h3>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >
	<div class="space">

	</div>
		<section class="send-type-todo">
			<div>
				<span>Caracteristicas de la Diligencia.</span>
			</div>
		</section>
		<section class="errands-caracteristics-input">
		<input type="text" name="" value="" placeholder="Breve descripcion de tu diligencia">
		</section>
		<section class="errands-caracteristics">
		<p>Selecciona si tu envio termina en el punto de partida.</p>
		<ion-checkbox id="goback" ng-model="isChecked">Ida y Vuelta</ion-checkbox>

		</section>
		<section class="center-button">
			<a class="button-noicon" href="#/errandsdestiny" title="">CONTINUAR</a>
		</section>
	</ion-content>
</ion-view>