.imagephoto-title{
	align-items: center;
	display:flex;
	flex-direction: row;
	justify-content: center;
	color:$balanced;
	height: 10%;
	p{
		color:$balanced;
		height: 50%;
		font-size:3vh;
		width: 80%;
	}
}
.imagephoto-container{
	align-items: center;
	display:flex;
	flex-direction: row;
	justify-content: center;
	height:30%;
	button{
		align-items: center;
		background-color: white;
		border:none;
		display:flex;
		flex-direction: column;
		justify-content: center;
		height:100%;
		i{
			align-items: center;
			display:flex;
			color:$balanced;
			font-size: 15vh;
			justify-content: center;
			width:100%;
		}
		a{
			align-items: center;
			background-color: white;
			color:$balanced;
			display:flex;
			flex-direction: row;
			justify-content: center;
			margin-top: 10%;
		}
	}
}
.imagephoto-button{
	align-items: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	width:80%;
	margin-right: auto;
	margin-left: auto;
	margin-top:10%;
	height:10%;
}