.photo-container{
    @include display-flex;
    @include flex-direction(row);
    @include align-items(flex-end);
    @include justify-content(center);
    @include widheigh(60%,60%,100%,100%);
    div {
        @include display-flex;
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);
        @include widheigh(75%, 75%, 80%, 80%);
        border-radius: 10px;
        color: $graybbb;
        background-color: $graybbbb !important;
        @include media-icons-ios("../img/Iconofoto/Iconofoto.png","../img/Iconofoto/Iconofoto.png","../img/Iconofoto/Iconofoto2x.png.png","../img/Iconofoto/Iconofoto2x.png.png","../img/Iconofoto/Iconofoto3x.png.png","../img/Iconofoto/Iconofoto3x.png.png");
        background-size: 30% !important;
    }
    img{
    @include display-flex;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    @include widheigh(75%,75%,80%,80%);
    border-radius: 15px;
    color: $graybbb;
    background-color: $graybbbb !important;
    }
}
.no-margin-top{
    margin-top: 0 !important;
}
.photo-container-takeselect{
    @include widheigh(10%, 10%, 100%, 100%);
    @include display-flex;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    color: $balanced;
    font-weight: bold;
    div{
        background-color: $balanced;
        @include widheigh(60%,60%,2px,2px);
        margin-left: 4%;
        margin-right: 4%;
    }
}
.input-text-box{
    color:$balanced !important;
    padding-left: 10% !important;
    @include media-inputs-ios("../img/TextBox/TextBox.png","../img/TextBox/TextBox.png","../img/TextBox/TextBox2x.png.png","../img/TextBox/TextBox2x.png.png","../img/TextBox/TextBox3x.png.png","../img/TextBox/TextBox3x.png.png");
}
