.register-container-tradictional{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:70%;
	width:100%;
}
.register-traditional-input{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height:50%;
	width:80%;
}
.register-input-username{
	display:flex;
	height:40%;
	flex-direction: row;
	border:1px solid $balanced;
	border-radius: 20px 0px 0px 0px;
}
.register-input-username i{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:$balanced;
	width:40px;
	border-radius: 20px 0px 0px 0px;
}
.register-input-username label{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:white;
	width:70%;
}
.register-input-password{
	display:flex;
	height:40%;
	flex-direction: row;
	border:1px solid $balanced;
}
.register-input-password i{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:$balanced;
	width:40px;
}
.register-input-password label{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:white;
	width:70%;
}
.register-input-mail{
	display:flex;
	height:40%;
	flex-direction: row;
	border:1px solid $balanced;
}
.register-input-mail i{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:$balanced;
	width:40px;
}
.register-input-mail label{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:white;
	width:70%;
}
.register-input-phone{
	height:40%;
	display:flex;
	flex-direction: row;
	color:white;
	border:1px solid $balanced;
	border-radius: 0px 0px 20px 0px;
}
.register-input-phone i{
	align-items: center;
	display:flex;
	justify-content: center;
	background-color:$balanced;
	border-top: 1px solid white;
	width:40px;
}
.register-input-phone label{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:white;
	width:70%;
}
.register-button{
	display:inline-flex;
	justify-content: space-around;
	flex-direction: column;
	width:80%;
	margin-top: 3%;
	height:30%;
}
.register-button-traditional{
	align-items: center;
	display:flex;
	color:white;
	text-decoration: none;
	justify-content: center;
	background-color:$balanced;
	width:100%;
	height:30%;
}
.register-term{
	align-items: center;
	display:flex;
	color:$balanced;
	font-size: 14px;
	text-decoration: none;
	justify-content: center;
	text-align: center;
	width:100%;
}
.register-container-social{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2%;
	height:30%;
	width:100%;
}
.register-facebook-container{
	background-color:$positive;
	display:flex;
	flex-direction: row;
	margin-bottom: 4%;
	height:25%;
	width:80%;
	text-decoration:none;
}
.register-facebook-container i{
	align-items: center;
	display:flex;
	background-color:rgba(white,.5);
	justify-content: center;
	width:15%;
	height:100%;
}
.register-facebook-container label{
	align-items: center;
	color:white;
	cursor: pointer;
	display:flex;
	justify-content: center;
	height:100%;
	width:85%;
}
.register-googlep-container{
	background-color:$assertive;
	display:flex;
	flex-direction: row;
	height:25%;
	margin-bottom: 10%;
	text-decoration:none;
	width:80%;
}
.register-googlep-container i{
	align-items: center;
	display:flex;
	color:$assertive;
	background-color:rgba(white,.5);
	justify-content: center;
	width:15%;
	height:100%;
}
.register-googlep-container label{
	align-items: center;
	color:white;
	cursor: pointer;
	display:flex;
	justify-content: center;
	height:100%;
	width:85%;
}