.register-container{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
	height:70%;
    min-height: 70%;
    width:100%;
    min-width: 100%;
}
.register-container-bottom{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    height:15%;
    min-height: 15%;
    margin-bottom: 10%;
    width:100%;
    min-width: 100%;
}
.list-inset{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
    width: 100%;
    min-width: 100%;
}
.item{
    border:none;
}
.item-input{
    background-color: transparent;
    margin-bottom: 2%;
    height: 45px !important;
    min-height: 45px !important;
    min-width: 80%;
    width: 80%;
}
.register-line{
    border-bottom:1px solid white;
    min-height: 1px;
    padding-top: 10px;
    height: 1px;
}
.register-create{
    text-align: center;
    font-size: 12px;
    color:white;
}
.register-social-buttons{
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
    width:100%;
    a{
        background-color: transparent;
        color:white;
        height: 44px;
        width: 44px;
        @media screen and (max-height: 2560px){
            height: 176px;
            width: 176px;
        }
        @media screen and (max-height: 1920px){
            height: 132px;
            width: 132px;
        }
        @media screen and (max-height: 1280px){
            height: 88px;
            width: 88px;
        }
        @media screen and (max-height: 960px){
            height: 66px;
            width: 66px;
        }
        @media screen and (max-height: 736px){
            height: 66px;
            width: 66px;
        }
        @media screen and (max-height: 667px){
            height: 66px;
            width: 66px;
        }
        @media screen and (max-height: 568px){
            height: 66px;
            width: 66px;
        }
        @media screen and (max-height: 480px){
            height: 44px;
            width: 44px;
        }
        @media screen and (max-height: 320px){
            height: 44px;
            width: 44px;
        }
    }
    &:hover{
        background-color: transparent;
    }
    &:active{
        background-color: transparent;
    }
}
.register-term{
    @include display-flex;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    border:none !important;
    background-color: transparent !important;
    padding-left: 0;
	color:white !important;
	font-size: 10px;
	text-decoration: none;
    height: 20px !important;
    min-height: 20px !important;
    min-width:80% !important;
    width: 80%;
    span{
        color:$createAccauntTap;
    }
}
.register-login{
    font-size: 3vh;
    span{
        color:$createAccaunt;
    }
    a{
        color:$createAccauntTap;
        font-weight: bold;
        text-decoration: none;
    }
}
.container-button{
    min-width: 80%;
    height: 35px;
    min-height: 35px;
}
