<div class="bar bar-header bar-balanced">
	 <h3 class="title">REGISTRARSE</h3>
</div>
<ion-view view-title="Register">
	<ion-content scroll="false" >

		<section class="register-container-tradictional">
		<div class="register-traditional-input">
			<div class="inputs-container border-blue">
				<i class="ion-person"></i>
				<label class="">
					<input type="text" placeholder="Nombre de Usuario">
				</label>
			</div>
			<div class="inputs-container border-blue">
				<i class="ion-locked"></i>
				<label class="">
					<input type="password" placeholder="Contraseña">
				</label>
			</div>
			<div class="inputs-container border-blue">
				<i class="ion-email"></i>
				<label class="">
					<input type="email" placeholder="Correo Electrónico">
				</label>
			</div>
			<div class="inputs-container border-blue">
				<i class="ion-ios-telephone"></i>
				<label class="">
					<input type="tel" placeholder="Teléfono">
				</label>
			</div>
		</div>
		<div class="container-button white-space">
		<a class="button-noicon" href="" title="">REGISTRARSE</a>
		</div>
		<div class="container-button">
			<a class="register-term" href="" title="">Al registrarte, aceptas términos y condiciones de uso, la politica de privacidad y los terminos de uso de Axpress.</a>
		</div>
		</section>
		<section class="two-buttons-container-column">
			<a href="#" class="button-icon facebook">
				<i class="ion-social-facebook"></i>
				<label>
				Registrarse con facebook
				</label>
			</a>
			<a href="#" class="button-icon gplus">
				<i class="ion-social-googleplus"></i>
				<label>
				Registrarse con google
				</label>
			</a>
		</section>


	</ion-content>
</ion-view>