<div class="bar bar-header bar-balanced">
	 <h1 class="title">REGISTRARSE</h1>
</div>
<ion-view view-title="Login">
	<ion-content scroll="false" >
		<section class="welcome-container">
			<section class="welcome-welcome">
				<div class="row welcome-rows">
					<div class="col welcome-cols">
					</div>
				</div>
				<div class="row welcome-rows">
					<div class="col welcome-cols">
						<p class="text-center"></p>
					</div>
				</div>
				<div class="row welcome-rows">
					<div class="col welcome-cols">

					</div>
				</div>
			</section>
			<section class="row row-bottom welcome-buttons">
				<div class="row">

				</div>
				</div>
			</section>
			<div class="row welcome-botton-line">
					<div class="col col-bottom">
					</div>
				</div>
		</section>



	</ion-content>
</ion-view>