<div class="bar bar-header bar-balanced">
	 <h1 class="title">VERIFICACÍON DEL ENVÍO</h1>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >

	<section class="main-container">
		<section class="shipment-main-title">
			<div>
				<span>¡TU DOCUMENTO HA SIDO ENTREGADO!</span>
			</div>
		</section>
		<section class="send-type-icon">
			<img src="img/documentverified.png" alt="">
		</section>
		<section class="send-type-options">

			<div class="shipment-vote-title">
				<p>Califica tu Envío</p>
			</div>
			<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>

		</section>
		<section class="sendtype-button">
			<a class="sendtype-button-traditional" href="" title="" ng-click="rateService()">TERMINAR</a>
		</section>


	</section>

	</ion-content>
</ion-view>
