<div class="bar bar-header bar-balanced">
	 <h1 class="title">Verificación del envío</h1>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >
				<div class="rating-container">
						<div class="container-img">
								<img src="img/Envioentregado/Envioentregado3x.png.png" height="80px" width="80px" alt="">
								<div>
										¡Tu documento <br>ha sido entregado!
								</div>
						</div>
						<section class="rating-starts">
								<p>Califica tu Envío</p>
								<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
						</section>
				</div>
				<div class="hide-on-keyboard-open row button-bottom-two button-confirm-position">
						<a class="button button-block button-default-two button-continue" title="Finalizar" ng-click="rateService()">
								Finalizar
						</a>
				</div>
	</ion-content>
</ion-view>
