<div class="bar bar-header bar-balanced">
	 <h1 class="title">CARACTERÍSTICAS</h1>
</div>
<ion-view view-title="Caracteristicas">
	<ion-content scroll="false" >

	<section class="main-container">
		<section class="caracteristics-title">
			<div>
				Escribe los datos de quien recibirá el envío.
			</div>
		</section>
		<section class="caracteristics-container">
		<div class="caracteristics-inputs">
			<div class="caracteristics-input-email">
				<i class="ion-email"></i>
				<label class="">
					<input type="email" placeholder="Correo Electrónico">
				</label>
			</div>
			<div class="caracteristics-input-username">
				<i class="ion-person"></i>
				<label class="">
					<input type="email" placeholder="Nombre de Usuario">
				</label>
			</div>

			<div class="caracteristics-input-phone">
				<i class="ion-ios-telephone"></i>
				<label class="">
					<input type="tel" placeholder="Teléfono">
				</label>
			</div>
			<div class="caracteristics-input-documentid">
				<i class="ion-document"></i>
				<label class="">
					<input type="text" placeholder="Cédula o NIT">
				</label>
			</div>
		</div>
		</section>
		<section class="caracteristics-documents">
		<div class="caracteristics-documents-title">
			Características del documento
		</div>
		<div class="input-caracteristics">
				<label class="">
					<input type="text" placeholder="Valor Declarado...">
				</label>
		</div>
		<div class="input-caracteristics">
				<label class="">
					<input type="text" placeholder="Breve descripción de tu envío">
				</label>
		</div>
		<div class="caracteristics-button">
		<a class="caracteristics-button-traditional" href="#/documentsdetaildestiny" title="">CONTINUAR</a>
		</div>

		</section>

	</section>

	</ion-content>
</ion-view>