<div class="bar bar-header bar-balanced">
	 <h3 class="title">CARACTERÍSTICAS</h3>
</div>
<ion-view view-title="Caracteristicas">
	<ion-content scroll="false" >
	<div class="space">
	</div>
		<section class="caracteristics-title">
			<div>
				Escribe los datos de quien recibirá el envío.
			</div>
		</section>
		<section class="caracteristics-container">
		<div class="caracteristics-inputs">
			<div class="inputs-container border-blue">
				<i class="ion-email"></i>
				<label class="">
					<input type="email" name="email" ng-model="destinatary.email" placeholder="Correo Electrónico">
				</label>
			</div>
			<div class="inputs-container border-blue">
				<i class="ion-person"></i>
				<label class="">
					<input type="text"  name="username" ng-model="destinatary.username" placeholder="Nombre de Usuario">
				</label>
			</div>

			<div class="inputs-container border-blue">
				<i class="ion-ios-telephone"></i>
				<label class="">
					<input type="tel" name="phone" ng-model="destinatary.phone"  placeholder="Teléfono">
				</label>
			</div>
			<div class="inputs-container border-blue">
				<i class="ion-document"></i>
				<label class="">
					<input type="text" name="cinit" ng-model="destinatary.cinit" placeholder="Cédula o NIT">
				</label>
			</div>
		</div>
		</section>
		<section class="caracteristics-documents">
		<div class="caracteristics-documents-title">
			Características del documento
		</div>
		<div class="input-caracteristics">
			<div class="inputs-container border-blue">
					<label class="">
						<input type="text" name="declaredvalue" ng-model="caracteristics.declaredvalue" placeholder="Valor Declarado...">
					</label>
			</div>
			<div class="inputs-container border-blue">
					<label class="">
						<input type="text"  name="shortdescription" ng-model="caracteristics.shortdescription" placeholder="Breve descripción de tu envío">
					</label>
			</div>
		</div>
		</section>
		<div class="container-button caracteristics-button">
		<a class="button-noicon" ng-click="saveCaracteristics()" title="">CONTINUAR</a>
		<!-- <a class="caracteristics-button-traditional" href="#/caracteristicspackages" title="">CONTINUAR</a> -->
		</div>
	</ion-content>
</ion-view>
