.login-form{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:60%;
	width:100%;
}
.inputs-wrapper{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height:30%;
	width:80%;
}
.button-wrapper{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height:20%;
	width:80%;
}
.login-button{
	display:inline-flex;
	justify-content: center;
	flex-direction: column;
	width:100%;
	margin-top:5%;
	height:100%;
}
.login-forgot-pass{
	align-items: center;
	display:flex;
	color:$balanced;
	font-size: 3vh;
	margin-top: 2%;
	text-decoration: none;
	justify-content: center;
	width:100%;
	height:30%;
}
.login-container-social{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:30%;
	width:100%;
}
.login-new-container{
	display:flex;
	flex-direction: row;
	color:$balanced;
	height:20%;
	justify-content: center;
	text-decoration:none;
	width:80%;
}
.login-new-container label{
	display:flex;
	flex-direction: row;
	color:$energized;
	cursor: pointer;
	justify-content: center;
	text-decoration:none;
	margin-left: 2%;
}