<div class="bar bar-header bar-balanced">
	<h3 class="title">RECUPERAR CONTRASEÑA</h3>
</div>
<ion-view view-title="Login">
	<ion-content scroll="false" >

		<section class="login-form">
				<div class="inputs-container">
                    <i ng-if="focusedForgot === true" class="icon-email"></i>
                    <i ng-if="focusedForgot === false" class="icon-flag-gray"></i>
					<label class="">
						<input ng-model="user.email" ng-focus="focusedForgot = true"
                               ng-blur="focusedForgot = false"  type="email" placeholder="Correo Electrónico">
					</label>
					<label></label>
				</div>
			<div class="button-wrapper-forgot">
				<div class="container-button">
					<a class="button-noicon" ng-click="recoverPassword()" title="">RECUPERAR</a>
				</div>
			</div>
		</section>


	</ion-content>
</ion-view>
