<div class="bar bar-header bar-balanced">
     <h3 class="title">RECUPERAR CONTRASEÑA</h3>
</div>
<ion-view view-title="Login">
    <ion-content scroll="false" >

        <section class="login-form">
        <div class="inputs-wrapper">
            <div class="inputs-container border-blue">
                <i class="ion-person"></i>
                <label class="">
                    <input ng-model="user.email" type="email" placeholder="Correo Electrónico">
                </label>
                <label></label>
            </div>
        </div>
        <div class="button-wrapper">
            <div class="login-button">
                <a class="button-noicon" ng-click="recoverPassword()" title="">RECUPERAR</a>
            </div>
        </div>
        </section>
        <section class="login-container-social">
            <a ui-sref="auth.register" class="login-new-container">
                ¿Eres Nuevo?
                <label class="login-register">
                ¡Regístrate ahora!
                </label>
            </a>
        </section>
    </ion-content>
</ion-view>