<ion-view view-title="ForgotPassword">
	<ion-content scroll="false" class="axpress-bg">
        <section class="register-container">
            <div class="list list-inset">
                <p class="item item-input forgot-pass text-center"> Para restablecer tu contraseña ingresa tu </p>
                <p class="item item-input forgot-pass text-center">correo electrónico y te enviaremos un mensaje</p>
                <p class="item item-input forgot-pass text-center">con instrucciones sobre cómo restablecerla.</p>
                <input class="item item-input inputs-general input-email" ng-model="user.email" type="email" placeholder="Correo Electrónico">
                <a class="item item-input button button-block button-default" ng-click="recoverPassword()" title="">Enviar contraseña</a>

            </div>
        </section>
	</ion-content>
</ion-view>
