<div class="bar bar-header bar-balanced">
	 <h3 class="title">INICIAR SESIÓN</h3>
</div>
<ion-view view-title="Login">
	<ion-content scroll="false" >

		<section class="login-form">
		<div class="inputs-wrapper">
			<div class="inputs-container border-blue">
				<i class="ion-person"></i>
				<label class="">
					<input ng-model="user.email" type="email" placeholder="Correo Electrónico">
				</label>
			</div>
			<div class="inputs-container border-blue">
				<i class="ion-locked"></i>
				<label class="">
					<input ng-model="user.password" type="password" placeholder="Contraseña">
				</label>
			</div>
		</div>
		<div class="button-wrapper">
			<div class="login-button">
				<a class="button-noicon" ng-click="login()" title="">INGRESAR</a>
				<a class="login-forgot-pass" ui-sref="auth.forgotpassword">¿Olvidaste tu Contraseña?</a>
			</div>
		</div>
		</section>
		<section class="login-container-social">
			<a class="button-icon facebook" ng-click="loginWithFacebook">
				<i class="ion-social-facebook"></i>
				<label>
				Ingresa con facebook
				</label>
			</a>
			<a class="button-icon gplus" ng-click="loginWithGoogle">
				<i class="ion-social-googleplus"></i>
				<label>
				Ingresa con google
				</label>
			</a>
			<a ui-sref="auth.register" class="login-new-container">
				¿Eres Nuevo?
				<label class="login-register">
				¡Regístrate ahora!
				</label>
			</a>
		</section>
	</ion-content>
</ion-view>