<ion-view view-title="Register">
	<ion-content scroll="false" overflow-scroll="true" class="axpress-bg">
		<form class="register-container" id="registerForm" name="registerForm" accept-charset="utf-8" novalidate>
			<div class="list list-inset">
				<input class="item item-input inputs-general input-user" type="text" name="name" ng-model="user.name" placeholder="Nombre de Usuario" required>
				<input class="item item-input inputs-general input-email" type="text" name="email" ng-model="user.email" placeholder="Correo Electrónico" required>
				<input class="item item-input inputs-general input-phone" type="tel" name="phone" ng-model="user.phone" placeholder="Teléfono" required>
				<input class="item item-input inputs-general input-pass" type="password" name="pass" ng-model="user.password" placeholder="Contraseña" required>
				<a type="submit" class="item item-input button button-block button-default button-createaccount" ng-click="doRegister(registerForm)"> <span>Crear cuenta</span> </a>
				<p class="item item-input register-term text-center"  title="">Al registrarte aceptas las <span> &nbsp; politicas de privacidad </span></p>
				<p class="item item-input register-term text-center">  y <span> &nbsp;los términos y condiciones &nbsp;</span> de Axpress.</p>
			</div>
		</form>

		<div class="register-container-bottom">
			<section class="row">
				<div class="col col-25 register-line"></div>
				<div class="col register-create">o crea cuenta con</div>
				<div class="col col-25 register-line"></div>
			</section>
			<section class="row ">
				<div class="col col-50 col-offset-25">
					<div class="row register-social-buttons">
						<a ng-click="registerWithFacebook()" class="button button-block facebook-icon">
						</a>
						<a ng-click="registerWithGoogle()" class="button button-block google-icon">
						</a>
					</div>
				</div>
			</section>

		</div>
		<section class="row">
			<div class="col text-center register-login">
				<span>¿Ya tienes una cuenta?</span>
				<a ui-sref="auth.login">Inicia sesión</a>
			</div>
		</section>
	</ion-content>
</ion-view>
