<ion-view view-title="ForgotPassword">
    <ion-content scroll="false" overflow-scroll="true" class="axpress-bg">
        <section class="register-container">
            <div class="list list-inset">
                <h4 style="color: white; margin-top: 50px">Términos y condiciones</h4>
            <span class="termandconditions">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut beatae, cupiditate distinctio enim eveniet ex facere fugiat ipsa maxime molestias optio quasi quisquam quod recusandae, repudiandae sequi suscipit tenetur!</span>
            <span class="termandconditions">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad animi architecto aut explicabo fuga harum officia! Beatae dolorem illum iste labore maiores nesciunt odio, quasi quis rem sunt.</span>
            <span class="termandconditions">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et impedit ipsam natus odit rem. Alias aut cum dolore eveniet facere id itaque laborum, odio, officiis praesentium qui repudiandae sunt voluptatum.</span>
            </div>
        </section>
        <div class="row button-bottom-two button-confirm-position">
            <a class="button button-block button-default button-loginform" ui-sref="auth.register">
                Volver
            </a>
        </div>
    </ion-content>
</ion-view>
