.sentresume-data{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 55%;
}
.sentresume-content{
	display:flex;
	border-bottom: 3px solid $balanced;
	flex-direction: row;
	height:40%;
	width: 80%;
}
.data-origin{
	align-items: flex-start;
	display:flex;
	flex-direction: column;
	margin:0;
	width:80%;
	b{
		font-size:2vh;
	}
	p{
		margin-top: 0;
		margin-bottom:0;
		font-size:2vh;
	}
}
.data-button-edit{
	align-items: center;
	display:flex;
	flex-direction: column;
	width:20%;
	height:100%;
	text-decoration: none;
	i{
		align-items: center;
		color:white;
		font-size:5vh;
		border-radius: 50%;
		background-color: $balanced;
		display:flex;
		width: 80%;
		height:50px;
		flex-direction: row;
		justify-content: center;
		text-align: center;
	}
	p{
		color:$energized;
		width:100%;
		margin:0;
	}
}
.sentresume-content-noborder{
	display:flex;
	flex-direction: row;
	height:40%;
	width: 80%;
}
.sentresume-cost{
	align-items: center;
	color:$balanced;
	display:flex;
	font-size: 4vh;
	flex-direction: column;
	justify-content: center;
	height:20%;
}
.sentresume-button{
	align-items: center;
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:10%;
}
.errandsresume-button{
	align-items: center;
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:8%;
	margin-right:auto;
	margin-left:auto;
	width:80%;
}