.sentresume-data{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60%;
}
.sentresume-content-top{
    display:flex;
    border-bottom: 1px solid $graybbb;
    border-top: 1px solid $graybbb;
    flex-direction: row;
    height:55%;
    width: 92%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.sentresume-content{
	display:flex;
	border-bottom: 1px solid $graybbb;
	flex-direction: row;
	height:58%;
	width: 92%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.stopsnumbers{
    align-items: center;
    background-color: $energized;
    border-radius: 50%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    color:white;
    width: 20px;
    height: 18px;
}
.data-origin{
	align-items: flex-start;
	display:flex;
	flex-direction: column;
	margin:0;
	width:95%;
	b{
		font-size:2vh;
	}
	p{
        align-items:flex-start;
		margin-top: 0;
		margin-bottom:0;
        padding-left: 5%;
		font-size:2vh;
        width: 100%;
        height: 100%;
        text-align: left;
	}
}
.sentresume-content-noborder{
	display:flex;
	flex-direction: row;
	height:40%;
	width: 80%;
}
.sentresume-cost{
    background-color: $graybbbb;
	align-items: center;
	color:$graybbb;
	display:flex;
	font-size: 4vh;
    margin-top: 3%;
    margin-bottom: 2%;
	flex-direction: row;
	justify-content: space-around;
	height:12%;
}
.sentresume-button{
	align-items: center;
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:8%;
}
.errandsresume-button{
	align-items: center;
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:8%;
	margin-right:auto;
	margin-left:auto;
	width:80%;
}
.errandsresumestops-button{
	align-items: center;
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:13%;
	margin-right:auto;
	margin-left:auto;
	width:80%;
}
