.sentresume-data{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 55%;
}
.sentresume-content{
	display:flex;
	border-bottom: 1px solid $graybbb;
	flex-direction: row;
	height:55%;
	width: 92%;
}
.data-origin{
	align-items: flex-start;
	display:flex;
	flex-direction: column;
	margin:0;
	width:95%;
	b{
		font-size:2vh;
	}
	p{
		margin-top: 0;
		margin-bottom:0;
		font-size:2vh;
	}
}
.sentresume-content-noborder{
	display:flex;
	flex-direction: row;
	height:40%;
	width: 80%;
}
.sentresume-cost{
    background-color: $graybbbb;
	align-items: center;
	color:$graybbb;
	display:flex;
	font-size: 4vh;
    margin-top: 5%;
    margin-bottom: 5%;
	flex-direction: row;
	justify-content: space-around;
	height:13%;
}
.sentresume-button{
	align-items: center;
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:8%;
}
.errandsresume-button{
	align-items: center;
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:8%;
	margin-right:auto;
	margin-left:auto;
	width:80%;
}
.errandsresumestops-button{
	align-items: center;
	display:flex;
	justify-content:center;
	flex-direction: column;
	height:13%;
	margin-right:auto;
	margin-left:auto;
	width:80%;
}
