<div class="bar bar-header bar-balanced">
	 <h1 class="title">RESUMEN DE LA DILIGENCIA</h1>
</div>
<ion-view view-title="Resumen del Envío">
	<ion-content scroll="false" >
	<div class="space"></div>
		<section class="sentresume-data">
			<section class="sentresume-content">
				<div class="data-origin">
					<b>PARADA 1</b>
					<p>Calle 123 # 12 - 55 Apto 201.</p>
					<p>Bogotá, Colombia.</p>
				</div>
				<a class="data-button-edit" href="" title="">
					<i class="ion-edit"></i>
					<p>EDITAR</p>
				</a>
			</section>
			<section class="sentresume-content">
				<div class="data-origin">
					<b>PARADA 2</b>
					<p>Calle 123 # 12 - 55 Apto 201.</p>
					<p>Bogotá, Colombia.</p>
				</div>
				<a class="data-button-edit" href="" title="">
					<i class="ion-edit"></i>
					<p>EDITAR</p>
				</a>
			</section>


		<section class="container-button errandsresume-button">
			<a class="button-noicon" href="#/errandsresume" title=""> VOLVER</a>
		</section>
	</section>
	</ion-content>
</ion-view>