<div class="bar bar-header bar-balanced">
	 <h1 class="title">RESUMEN DEL ENVÍO</h1>
</div>
<ion-view view-title="Resumen del Envío">
	<ion-content scroll="false" >

		<section class="sentresume-data">
			<section class="sentresume-content">
				<div class="data-origin">
					<b>ORIGEN DEL DOCUMENTO</b>
					<p>Calle 123 # 12 - 55 Apto 201.</p>
					<p>Bogotá, Colombia.</p>
				</div>
				<a class="data-button-edit" href="" title="">
					<i class="ion-edit"></i>
					<p>EDITAR</p>
				</a>
			</section>
			<section class="sentresume-content">
				<div class="data-origin">
					<b>DESTINO DEL DOCUMENTO</b>
					<p>Calle 123 # 12 - 55 Apto 201.</p>
					<p>Bogotá, Colombia.</p>
				</div>
				<a class="data-button-edit" href="" title="">
					<i class="ion-edit"></i>
					<p>EDITAR</p>
				</a>
			</section>
			<section class="sentresume-content-noborder">
				<div class="data-origin">
					<b>CARACTERÍSTICAS</b>
					<p>Calle 123 # 12 - 55 Apto 201.</p>
					<p>Bogotá, Colombia.</p>
				</div>
				<a class="data-button-edit" href="" title="">
					<i class="ion-edit"></i>
					<p>EDITAR</p>
				</a>
			</section>
			<section class="sentresume-content">
				<div class="data-origin">
					<b>DESTINATARIO</b>
					<p>Calle 123 # 12 - 55 Apto 201.</p>
					<p>Bogotá, Colombia.</p>
				</div>
			</section>
		</section>
		<section class="sentresume-cost">

				<p>COSTO DEL ENVÍO</p>
				<b>$ 22.000 COP</b>

		</section>
		<section class="sentresume-button">
			<a href="#/paymentmethods" title=""> CONFIRMAR TU ENVÍO</a>
		</section>
	</ion-content>
</ion-view>