.payments-options{
	align-items:center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
	width: 100%;
}
.button-bottom-payment{
	width:95%;
	position:absolute;
	height:5%;
	left: 3%;
	bottom: 3%;
}
