<div class="bar bar-header bar-balanced">
	 <h1 class="title">SEGUIMIENTO DEL ENVÍO</h1>
</div>
<ion-view view-title="TrackingShipment">
	<ion-content scroll="false" >
	<section ng-controller="ShipementTracking" class="main-container-shipementtracking" >
	<div class="shipementtracking-gps-button">
		<a class="shipementtracking-gps-button-traditional" href="#/shipementtrackinggps" title=""><i class="ion-map"></i> </a>
		</div>
		<!-- Navigation -->
			<nav class="nav navbar" id="menu">
				<div class="navbar_top" drag-up>INFORMACION MENSAJERO</div>
				<section class="deliverboy-info navbar_content">
					<div class="deliverboy-photo">
					<i class="ion-ios-people"></i>
					</div>
					<div class="deliverboy-data">
						<div class="deliverboy-data-text">
						<p>Nombre: Santiago Ruiz</p>
						<p>Identificacion:1.020.711.823</p>
						<p>Teléfono: 316 344 56 78</p>
						</div>
						<div class="deliverboy-data-buttons">
							<a class="deliverboy-chat" href="#/chat">CHAT</a>
							<a class="deliverboy-call" href="">LLAMAR</a>
						</div>
					</div>
				</section>
			</nav>
	</section>

	</ion-content>
</ion-view>