<div class="bar bar-header bar-balanced">
	 <h1 class="title">TIPOS DE ENVIÓ</h1>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >

	<section class="main-container">
		<section class="select-send-type">
			<p>Elige el <span> tipo de envío </span> que vas a realizar.</p>
		</section>
		<section class="main-menu">
			<a class="main-menu-options" href="" title="">
			<img src="img/ionic.png" width="15%" height="30%" alt="">
			DOCUMENTOS
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</a>
			<a class="main-menu-options" href="" title="">
			<img src="img/ionic.png" width="15%" height="30%" alt="">
			PAQUETES
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</a>
			<a class="main-menu-options" href="" title="">
			<img src="img/ionic.png" width="15%" height="30%" alt="">
			DILIGENCIAS
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</a>

		</section>


	</section>

	</ion-content>
</ion-view>