<div class="bar bar-header bar-balanced">
	 <h3 class="title">TIPOS DE ENVIÓ</h3>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >

		<section class="select-send-type">
			<span>Elige el <a> tipo de envío </a> que vas a realizar.</span>
		</section>
		<section class="main-menu" >
			<a ng-repeat="menu in menuoptions" class="main-menu-options" title="{{menu.title}}" ng-click="moveTo(menu.type_service)">
			<img src="img/ionic.png" alt="">
			{{ menu.title | uppercase }}
			</a>

            <a class="main-menu-options" href="#/account" title="">
			<img src="img/ionic.png" alt="">
			MI CUENTA
			</a>
		</section>
	</ion-content>
</ion-view>
