<div class="bar bar-header bar-balanced">
	 <h1 class="title">TIPOS DE ENVIÓ</h1>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >

	<section class="main-container">
		<section class="select-send-type">
			<span>Elige el <a> tipo de envío </a> que vas a realizar.</span>
		</section>
		<section class="main-menu">
			<a class="main-menu-options" href="" title="">
			<img src="img/ionic.png" alt="">
			DOCUMENTOS
			</a>
			<a class="main-menu-options" href="" title="">
			<img src="img/ionic.png" alt="">
			PAQUETES
			</a>
			<a class="main-menu-options" href="" title="">
			<img src="img/ionic.png" alt="">
			DILIGENCIAS
			</a>
			<a class="main-menu-options" href="" title="">
			<img src="img/ionic.png" alt="">
			MI CUENTA
			</a>

		</section>


	</section>

	</ion-content>
</ion-view>