<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced menu-bg">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContent">
        <ion-view view-title="Menu">
            <ion-content class="axpress-bg" scroll="false" overflow-scroll="false">
                <section class="main-menu" >
                    <a ng-repeat="option in menuoptions" class="main-menu-options" title="{{option.title}}" ng-click="moveTo(option)">
                        <div class="img-{{$index}}"> </div>
                        {{ option.title }}
                    </a>
                </section>
            </ion-content>
        </ion-view>
    </ion-nav-view>
  </ion-side-menu-content>
    <ion-side-menu side="left">
        <sidebar-menu> </sidebar-menu>
    </ion-side-menu>
</ion-side-menus>
