<div class="bar bar-header bar-balanced">
	 <h1 class="title">INICIAR SESIÓN</h1>
</div>
<ion-view view-title="Login">
	<ion-content scroll="false" >

	<section class="main-container">
		<section class="login-container-tradictional">
		<div class="login-traditional-input">
			<div class="input-username">
				<i class="ion-person"></i>
				<label class="">
					<input type="text" placeholder="Nombre de Usuario">
				</label>
			</div>
			<div class="input-password">
				<i class="ion-locked"></i>
				<label class="">
					<input type="password" placeholder="Contraseña">
				</label>
			</div>
		</div>
		<div class="login-button">
		<a class="login-button-tradictional" ng-click="login()" title="">INGRESAR</a>
		<a class="login-forgot-pass" href="" title="">¿Olvidaste tu Contraseña?</a>
		</div>
		</section>
		<section class="login-container-social">
			<a href="#/menu" class="login-facebook-container">
				<i class="ion-social-facebook"></i>
				<label>
				Ingresa con facebook
				</label>
			</a>
			<a href="#/menu" class="login-googlep-container">
				<i class="ion-social-googleplus"></i>
				<label>
				Ingresa con google
				</label>
			</a>
			<a href="#/register" class="login-new-container">
				¿Eres Nuevo?
				<label class="login-register">
				¡Regístrate ahora!
				</label>
			</a>
		</section>


	</section>

	</ion-content>
</ion-view>