<div class="bar bar-header bar-balanced">
	 <h1 class="title">DESTINO DE LA DILIGENCIA</h1>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >

	<section class="main-container-maps">
		<div class="input-direction">
				<i class="ion-map"></i>
				<label class="">
					<input type="text" placeholder="Escribe la dirección aquí...">
				</label>
		</div>
		<div class="errands-destinatary-input">
			<div class="input-destinataryname">
				<i class="ion-person"></i>
				<label class="">
					<input type="text" placeholder="Nombre des Destinatario">
				</label>
			</div>
			<div class="input-destinataryphone">
			<i class="ion-iphone"></i>
				<label class="">
					<input type="tel" placeholder="Telefono">
				</label>
			</div>
		</div>
		<div class="pickuphere-button-container">
		<a class="pickuphere-button-traditional" href="#/documentsdetaildestiny" title="">AGREGAR DIRECCIÓN</a>
		<a class="pickuphere-button-traditional" href="#/documentsdetaildestiny" title="">FIN DE LA DILIGENCIA</a>
		</div>


	</section>

	</ion-content>
</ion-view>