<map center='{{center.geometry.location || "Bogota"}}'
     geo-fallback-center="{{fallbackCenter}}"
     zoom="11" class="main-container-maps"
     zoom-control="false" map-type-control="false"
     street-view-control="false" on-click="callbacks.mapTapped()" on-dblclick="callbacks.mapDoubleTap()">

    <marker ng-repeat="marker in markers" icon="{{marker.icon}}" position="{{marker.position || fallbackCenter}}"
            title="{{marker.title}}" draggable="{{marker.draggable}}" class="marker-origin" on-dragend="callbacks.markerDragend()"></marker>
</map>
