<ion-header-bar class="bar-positive side-menu-title">
    <div class="side-menu-container-user">
        <div class="side-menu-photo"><img src="img/iconofotoperfil/Iconofotoperfilmdpi.png" alt=""></div><div class="side-menu-user"><div>Camilo Cardenas</div><div>ccardenas@gmail.com</div></div>
    </div>
</ion-header-bar>
<ion-content class="side-menu-content">
<ion-list>
    <ion-item menu-close href="#/menu/">
       <i class="ion-home"></i>  Inicio
    </ion-item>
    <ion-item menu-close href="#/app/aboutus">
       Editar cuenta
    </ion-item>
    <ion-item menu-close href="#/app/menu">
        Historial
    </ion-item>
    <ion-item menu-close href="#/app/contactus">
        Cancelar servicio
    </ion-item>
    <ion-item menu-close ng-click="login()">
        Cerrar sesión
    </ion-item>
</ion-list>
</ion-content>

