<ion-header-bar class="bar-positive side-menu-title">
    <div class="side-menu-container-user">
        <div class="side-menu-photo"><img ng-src="{{user.social_picture || '../img/Fotomenulateral/Fotomenulateral.png'}}" alt=""></div><div class="side-menu-user"><div>{{user.name}}</div></div>
    </div>
</ion-header-bar>
<ion-content class="side-menu-content">
<ion-list>
    <ion-item menu-close ui-sref="app.main">
       <i class="side-menu-home"></i>  Inicio
    </ion-item>
    <ion-item menu-close ui-sref="app.account" ng-if="!isOnService()">
       <i class="side-menu-edit"></i>  Editar cuenta
    </ion-item>
    <ion-item menu-close ui-sref="app.history" ng-if="!isOnService()">
        <i class="side-menu-history"></i>  Historial
    </ion-item>
    <ion-item menu-close ui-sref="app.chat" ng-if="!isOnService()">
        <i class="side-menu-history"></i>  Chat
    </ion-item>
    <ion-item menu-close ui-sref="app.tracking" ng-if="!isOnService()">
        <i class="side-menu-history"></i>  Tracking
    </ion-item>
    <ion-item menu-close ui-sref="app.rating" ng-if="!isOnService()">
        <i class="side-menu-history"></i>  Rating
    </ion-item>
    <ion-item menu-close ui-sref="menu" ng-if="isOnService() || isServiceActive()" ng-click="cancelService()">
        <i class="side-menu-cancel-service"></i>  Cancelar servicio
    </ion-item>
    <ion-item menu-close ng-click="logout()">
        <i class="side-menu-logout"></i>  Cerrar sesión
    </ion-item>
</ion-list>
</ion-content>

