.main-container{
	height: 100%;
	border-bottom: 20px solid $balanced;
	padding-top: 10%;
}
.welcome-welcome{
	align-items: center;
	display:flex;
	height: 80%;
	flex-direction: column;
	justify-content: center;
	width:100%;
}
.welcome-rows{
	display:flex;
	margin: 10% 0;
}
.welcome-cols{
	display:flex;
	justify-content: center;
}
.points-welcome{
	border-radius: 50%;
	background: $balanced;
	display:flex;
	justify-content: center;
	margin:0px 8px;
	height:15px;
	width: 15px;
}
.actived{
	border-radius: 50%;
	background: $energized;
	height:15px;
	width: 15px;
}
.welcome-buttons{
	align-items:center;
	display:flex;
	height: 20%;
	flex-direction: column;
	justify-content: space-around;
	width:100%;
}
.welcome-button{
	align-items: center;
	border:2px solid $energized;
	color:$dark;
	display:flex;
	flex-direction: row;
	font-size:2vh;
	justify-content: center;
	width: 80%;
	height:40%;
	text-decoration: none;
	i{
		align-items: center;
		font-size:4vh;
		display:flex;
		color:$energized;
		justify-content: center;
		border-radius:50%;
		margin-right: 5%;
	}
	&:hover{
	background-color:$energized;
	color:$stable;
	i{
		color:white;
	}
	}
}
.button-blue{
	border:2px solid $balanced;
	i{
		align-items: center;
		font-size:4vh;
		display:flex;
		color:$balanced;
		justify-content: center;
		border-radius:50%;
		margin-right: 5%;
	}
	&:hover{
	background-color:$balanced;
	color:$stable;
	i{
		color:white;
	}
	}
}
.welcome-login,
.welcome-register,
p{
	align-items: center;
	display:flex;
	margin:5px 0px;
	font-size: 2vh;
	flex-direction: column;
	justify-content: center;
}