.main-container{
	height: 100%;
	border-bottom: 20px solid $balanced;
	padding-top: 10%;
}
.welcome-image{
		margin-top: 10%;
	align-items: center;
	display:flex;
	height: 40%;
	flex-direction: column;
	justify-content: center;
	width:100%;
		img{
				margin-top: 10%;
				width: 95%;
				height: 200px;
				background-color: rgba($graybb,.7);
		}
}
.welcome-info{
		align-items: center;
		display:flex;
		height: 20%;
		flex-direction: column;
		justify-content: center;
		width:100%;
		p{
				font-size: 2.5vh;
				color: $graybbb;
		}
}
.welcome-dots{
		align-items: center;
		display:flex;
		height: 5%;
		flex-direction: column;
		justify-content: center;
		width:100%;
}

.welcome-cols{
		width: 80%;
	display:flex;
	justify-content: center;
}
.points-welcome{
	border-radius: 50%;
	background: $graybbb;
	display:flex;
		margin:0 1%;
	justify-content: center;
	height:8px;
	width: 8px;
}
.actived{
	border-radius: 50%;
	background: $energized;
	height:9px;
	width: 9px;
}
.welcome-buttons{
	align-items:center;
	display:flex;
	height: 5%;
	margin-top: 20px;
	flex-direction: column;
	justify-content: center;
	width:100%;
}
.welcome-login,
.welcome-register,
p{
	align-items: center;
	display:flex;
	margin:5px 0;
	font-size: 2vh;
	flex-direction: column;
	justify-content: center;
}
