.send-type-todo{
	align-items: center;
	display:flex;
	height: 10%;
	justify-content: center;
	div{
	align-items: center;
	display:flex;
	justify-content: center;
	text-align: center;
	width:70%;
	}
	span{
	color:$balanced;
	font-size:3vh;
	height:50%;
	width: 100%;
		a{
		color:$royal;
		margin: 0 5px;
		}
	}
}
.send-type-icon{
	align-items: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	img{
	color:$balanced;
	height:60%;
	width: 40%;
}
}
.send-type-options{
	align-items: center;
	display:flex;
	flex-direction: column;
	margin-top:5%;
	height: auto;
}
.send-type-options-radio{
	width:80%;
	font-size:2vh;
	height: auto;
}
.sendtype-button{
	display: flex;
	margin-top:5%;
	justify-content: center;
	width:100%;
	height:8%;
}