.main-container-maps{
	height: 100%;
	display:flex;
}
.bar{
    border:none !important;
}
.bar-balanced{
    border:none !important;
}
.bar-origin{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-end);
    background-color: rgba($balanced,.7) !important;
    height: 150px;
    min-height: 150px;
    width: 100%;
    min-width: 100%;
    margin:0;
    padding: 0;
    padding-bottom: 5px !important;
    h3{
        width: 100%;
        margin:0;
        padding: 0;
        padding-left: 10%;
        min-width: 100%;
        text-align: left !important;
    }
}
.input-direction{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-end);
    map-autocomplete-address{
        width: 90%;
        min-width: 90%;
        height: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
    }
    input{
        width: 90%;
        min-width: 90%;
        margin: 0;
        padding: 0;
    }
}

.direction-marker{
		input{
				&:focus{
						.icon-marker-gray{
								background-image: url('../img/inputs/pin-direccion1.png');
								background-size: 40%;
								background-repeat: no-repeat;
								background-position: center;
						}
				}
		}
}
.maps-list-places{
		display: flex;
		border:1px solid black;
		width: 80%;
		height: 10%;
		top: 30%;
		left: 0px;
		position: absolute;
		z-index: 1;
}
.new-direction-button{
    width:90%;
    position:absolute;
    left: 5%;
    height:5%;
    bottom: 10%;
}
.button-confirm-position{
    width:80%;
    left: 0;
    height:5%;
    bottom: 3%;
}
.button-confirm{
    color: white !important;
    background-color: transparent;
    background-image: url("../img/Botoncontinuar/BotonContinuarmdpi.png") !important;
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    &:focus{
        color: $dark !important;
        background-image: url("../img/Cajadetextoorigen/Origenmdpi.png");
        background-size: 100%;
        background-repeat:no-repeat;
        background-position: center;
    }
}
.confirm-button{
	width:90%;
	position:absolute;
	left: 5%;
	height:8%;
	bottom: 3%;
	a{
		background-color:$energized;
        &:hover{
            background-color:$energized;
        }
	}
}
.confirm-button-traditional{
	align-items: center;
	display:flex;
	color:white;
	text-decoration: none;
	justify-content: center;
	background-color:$energized;
	width:100%;
	height:50px;
}
.errands-destinatary-input{
	bottom:16%;
    background-color: $graybbbb;
	position:absolute;
    padding: 5px;
	width:100%;
}
.pickuphere-button-container{
	bottom: 10px;
	display:flex;
	height:8%;
	justify-content: space-around;
	position:absolute;
	left:5%;
	width:90%;
	a{
		width:48%;
	}
}
.inputs-maps{
	height:10%;
	width:80%;
}
.input-origin{
    color: $dark !important;
    background-image: url("../img/Cajadetextoorigen/Origenmdpi.png");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    &:focus{
        color: $dark !important;
        background-image: url("../img/Cajadetextoorigen/Origenmdpi.png");
        background-size: 100%;
        background-repeat:no-repeat;
        background-position: center;
    }
}
.input-originDetail{
    color: $dark !important;
    background-image: url("../img/Detalles/Detallesmdpi.png");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    &:focus{
        color: $dark !important;
        background-image: url("../img/Detalles/Detallesmdpi.png");
        background-size: 100%;
        background-repeat:no-repeat;
        background-position: center;
    }
}
.button-gps{
    @include media-icons("../img/Ubicacion/Ubicacionmdpi.png","../img/Ubicacion/Ubicacionhdpi.png","../img/Ubicacion/Ubicacionxhdpi.png","../img/Ubicacion/Ubicacionxxhdpi.png","../img/Ubicacion/Ubicacionxxxhdpi.png","../img/Ubicacion/Ubicacionmdpi.png","../img/Ubicacion/Ubicacionhdpi.png","../img/Ubicacion/Ubicacionxhdpi.png","../img/Ubicacion/Ubicacionxxhdpi.png","../img/Ubicacion/Ubicacionxxxhdpi.png");
}

