.main-container-maps{
	background-image: url("../img/maps.png");
	background-size: cover;
	justify-content: center;
	height: 100%;
	padding-top: 15%;
	display:flex;
}
.input-direction{
	display:flex;
	height:8%;
	flex-direction: row;
	border:1px solid $balanced;
	width:80%;
}
.input-direction i{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:$balanced;
	width:20%;
}
.input-direction label{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:white;
	width:80%;
	input{
		background-color:white;
	}
}
.pickuphere-button{
	width:80%;
	position:absolute;
	left: 10%;
	bottom: 50px;
}
.pickuphere-button-traditional{
	align-items: center;
	display:flex;
	color:white;
	text-decoration: none;
	justify-content: center;
	background-color:$balanced;
	width:100%;
	height:50px;
}
.input-direction-confirm{
	display:flex;
	height:10%;
	flex-direction: row;
	border:1px solid $energized;
	width:80%;
}
.input-direction-confirm i{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:$energized;
	width:20%;
}
.input-direction-confirm label{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:white;
	width:80%;
	input{
		background-color:white;
	}
}
.confirm-button{
	width:80%;
	position:absolute;
	left:10%;
	bottom: 50px;
}
.confirm-button-traditional{
	align-items: center;
	display:flex;
	color:white;
	text-decoration: none;
	justify-content: center;
	background-color:$energized;
	width:100%;
	height:50px;
}
.errands-destinatary-input{
	bottom:70px;
	height:20%;
	position:absolute;
	left:10%;
	width:80%;
}
.input-destinataryname{
	display:flex;
	flex-direction: row;
	border:1px solid $balanced;
	height:40%;
}
.input-destinataryname i{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:$balanced;
	width:15%;
}
.input-destinataryname label{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:white;
	width:90%;
	input{
		background-color:white;
	}
}
.input-destinataryphone{
	display:flex;
	flex-direction: row;
	border:1px solid $balanced;
	height:40%;
}
.input-destinataryphone i{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:$balanced;
	width:15%;
}
.input-destinataryphone label{
	align-items: center;
	display:flex;
	color:white;
	justify-content: center;
	background-color:white;
	width:90%;
	input{
		background-color:white;
	}
}
.pickuphere-button-container{
	bottom: 30px;
	display:flex;
	height:8%;
	justify-content: space-around;
	position:absolute;
	left:5%;
	width:90%;
	a{
		width:48%;
	}
}