<div class="bar bar-header bar-balanced">
     <h3 class="title">ORIGEN DEL DOCUMENTO</h3>
</div>
<ion-view view-title="SendType">
    <ion-content scroll="false" >

        <address-selection center="place" markers="markers"></address-selection>

        <div class="space"></div>
        <div class="input-direction">
            <div class="inputs-container direction-marker">
                <i class="icon-marker-gray"></i>
                <label>
                    <map-autocomplete-address on-place-changed="placeChanged" address="address"></map-autocomplete-address>
                </label>
            </div>
            <div class="inputs-container-last flag-maps">
                <i class="icon-flag-gray"></i>
                <label>
                    <input ng-model="doc.addressaditional" type="text" placeholder="Detalles de direccion">
                </label>
            </div>
        </div>

        <div class="pickuphere-button">
            <button class="button-noicon" ng-click="confirmOrigin()" title="">RECOGER AQUÍ</button>
        </div>
    </ion-content>
</ion-view>

