<div class="bar bar-header bar-balanced">
     <h1 class="title">IMAGEN DEL DOCUMENTO</h1>
</div>
<ion-view view-title="Imagen del Documento">
    <ion-content scroll="false" >
    <div class="space">
    </div>
        <section class="imagephoto-title">
            <p>
                Agrega una imagen de tu envío
            </p>
        </section>
        <img ng-src="{{imgSrc}}" width="100px" height="100px" class="ion-camera"></img>
        <take-photo on-photo-taken="photoTaken"></take-photo>
        <select-photo on-photo-selected="photoSelected"></select-photo>
        <section class="container-button imagephoto-button">
            <a class="button-noicon" ng-click="confirmImagePhoto()" title="">CONTINUAR</a>
        </section>


    </ion-content>
</ion-view>
