<div class="bar bar-header bar-balanced">
     <h1 class="title">IMAGEN DEL DOCUMENTO</h1>
</div>
<ion-view view-title="Imagen del Documento">
    <ion-content scroll="false" >
    <div class="space">
    </div>

        <img class="photo-image" ng-src="{{imageData}}" width="100%" height="250px" title="Agrega una imagen de tu envío"/>

        <section class="container-button-row">

        <take-photo on-photo-taken="photoTaken"></take-photo>

        <select-photo on-photo-selected="photoSelected"></select-photo>
        </section>
        <div class="button-bottom">
        <section class="container-button">
            <a class="button-noicon" ng-click="confirmImagePhoto()" title="">CONTINUAR</a>
        </section>
        </div>


    </ion-content>
</ion-view>
