<div class="bar bar-header bar-balanced bar-sendtype">
	<h3 class="title">Historial</h3>
</div>
<ion-view view-title="Historial">
	<ion-content scroll="false" >
        <div class="space-views"></div>

		<ion-list class="history-lists">
				<div ng-repeat="item in history">

					<ion-item class="item-avatar item-icon-right" ng-click="toggleShipping(item.shipping_id)" ng-class="{active: isShippingShown(item.shipping_id)}">
						<img ng-src="../img/Historial/{{item.service}}.png">
						<div class="text-center full-size">
							<!--{{item.service}}<br>-->
							{{item.date}}<!--<br>-->
							<!--<span ng-class="{'unasigned': (item.status.value == 10),
								'asigned': (item.status.value == 1), 'collected': (item.status.value == 2),
								'delivered': (item.status.value == 3), 'canceled': (item.status.value == 4)}">{{item.status.name}} &#9679;</span>-->
						</div>
						<i class="icon" ng-class="isShippingShown(item.shipping_id) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
					</ion-item>

					<ion-item class="item-accordion item-icon-right" ng-click="toggleShipping(item.shipping_id)" ng-show="isShippingShown(item.shipping_id)">
						<div class="item-text-center item-text-wrap">
							<div class="historial-data">
                                <p><b>Tipo de solicitud:</b> {{item.service}}</p>
                                <p><b>Destinatario:</b> {{item.addressee}}</p>
                                <p><b>Mensajero:</b> {{item.currier.fullName || 'No Asignado'}}</p>
                                <p><b>Distancia KM:</b> {{item.distance/1000 | number:2}} KM</p>
								<p><b>Valor:</b> ${{item.amount}} COP</p>

							</div>
							<div class="historial-button">
								<a href="" title="" ui-sref="app.tracking({shippingId: item.shipping_id})">Ver recorrido</a>
							</div>
						</div>
					</ion-item>

				</div>

			</ion-list>

	</ion-content>
</ion-view>
