<div class="bar bar-header bar-balanced">
	<h1 class="title">HISTORIAL</h1>
</div>
<ion-view view-title="Historial">
	<ion-content scroll="false" >
		<div class="space">

		</div>

		<ion-list class="history-lists">
				<div ng-repeat="item in history">

					<ion-item class="item-avatar item-icon-right" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">
						<img ng-src="{{item.iconURL}}">
						<div class="text-center">
							{{item.service}}<br>
							Fecha: {{item.date}}<br>
							{{item.status.name}}
						</div>
						<i class="icon" ng-class="isGroupShown(item) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
					</ion-item>

					<ion-item class="item-accordion item-icon-right" ng-click="toggleSubGroup(item)" ng-show="isGroupShown(item)">
						<div class="item-text-center item-text-wrap">
							<div class="historial-data">
								<p>DISTANCIA: {{item.distance/1000 | number:2}} KM</p>
								<p>DESTINATARIO: {{item.addressee}}</p>
								<p>MENSAJERO: {{item.currier.fullName || 'No Asignado'}}</p>
								<p>VALOR: ${{item.amount}} COP</p>
								<p>TIPO DE SOLICITUD: {{item.service}}</p>
							</div>
							<div class="historial-button">
								<a href="" title="">VER RECORRIDO</a>
							</div>
						</div>
					</ion-item>

				</div>

			</ion-list>

	</ion-content>
</ion-view>