.main-menu{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    min-height:100%;
    height:100%;
    min-width:100%;
    width:100%;
    a{
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        background-color: transparent;
        border:none !important;
        height:25%;
        min-height:25%;
        color:white;
        margin-bottom: 7%;
        font-size: 3.5vh;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        width:40%;
        &:hover{
            border:none !important;
            background-color: transparent;
            color:#ca7530;
            text-decoration: none;
        }
        .img-0{
            @include display-flex;
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);
            border:none !important;
            height: 80%;
            min-height: 80%;
            min-width: 80%;
            width: 80%;
            background-color: transparent;
            background-image: url("../img/MenuDocumentos/Menudocumentosmdpi.png") !important;
            background-size: 70%;
            background-position: center;
            background-repeat:no-repeat;
            &:hover{
                border:none !important;
                background-color: transparent;
                background-image: url("../img/MenudocumentosTAP/Menudocumentosmdpi.png") !important;
                background-size: 70%;
                background-position: center;
                background-repeat:no-repeat;
            }
        }
        .img-1{
            @include display-flex;
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);
            border:none !important;
            height: 80%;
            min-height: 80%;
            min-width: 80%;
            width: 80%;
            background-color: transparent;
            background-image: url("../img/Menupaquetes/Menupaquetesmdpi.png") !important;
            background-size: 70%;
            background-position: center;
            background-repeat:no-repeat;
            &:hover{
                border:none !important;
                background-color: transparent;
                background-image: url("../img/MenupaquetesTAP/Menupaquetesmdpi.png") !important;
                background-size: 70%;
                background-repeat:no-repeat;
            }
        }
        .img-2{
            @include display-flex;
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);
            border:none !important;
            height: 80%;
            min-height: 80%;
            min-width: 80%;
            width: 80%;
            background-color: transparent;
            background-image: url("../img/MenuDiligencias/Diligenciasmdpi.png") !important;
            background-size: 70%;
            background-position: center;
            background-repeat:no-repeat;
            &:hover{
                border:none !important;
                background-color: transparent;
                background-image: url("../img/MenuDiligenciasTAP/Diligenciasmdpi.png") !important;
                background-size: 70%;
                background-repeat:no-repeat;
            }
        }
    }

}
