.main-menu{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-around);
	width:100%;
    height:100%;
    min-height:100%;
    a{
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        background-color: transparent;
        height:25%;
        min-height:25%;
        color:white;
        font-size: 3vh;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        width:40%;
        &:hover{
            background-color: transparent;
        }
        img{
            border:none;
        }
        .img-0{
            height: 100%;
            min-height: 100%;
            min-width: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: transparent;
            background-image: url("../img/MenuDocumentos/Menudocumentosmdpi.png") !important;
            background-size: 90%;
            background-position: center;
            background-repeat:no-repeat;
            &:hover{
                height: 100%;
                min-height: 100%;
                min-width: 100%;
                width: 100%;
                border:none !important;
                background-color: transparent;
                background-image: url("../img/MenudocumentosTAP/Menudocumentosmdpi.png") !important;
                background-size: 90%;
                background-position: center;
                background-repeat:no-repeat;
            }
        }
        .img-1{
            height: 100%;
            min-height: 100%;
            min-width: 100%;
            width: 100%;
            border:none !important;
            background-color: transparent;
            background-image: url("../img/Menupaquetes/Menupaquetesmdpi.png") !important;
            background-size: 90%;
            background-position: center;
            background-repeat:no-repeat;
            &:hover{
                border:none !important;
                background-color: transparent;
                background-image: url("../img/MenupaquetesTAP/Menupaquetesmdpi.png") !important;
                background-size: 90%;
                background-repeat:no-repeat;
            }
        }
        .img-2{
            height: 100%;
            min-height: 100%;
            min-width: 100%;
            width: 100%;
            border:none !important;
            background-color: transparent;
            background-image: url("../img/MenuDiligencias/Diligenciasmdpi.png") !important;
            background-size: 90%;
            background-position: center;
            background-repeat:no-repeat;
            &:hover{
                border:none !important;
                background-color: transparent;
                background-image: url("../img/MenuDiligenciasTAP/Diligenciasmdpi.png") !important;
                background-size: 90%;
                background-repeat:no-repeat;
            }
        }
    }

}
