.caracteristics-title{
	align-items: center;
	color:$balanced;
	display: flex;
	font-size: 3vh;
	flex-direction: column;
	justify-content: center;
	text-align:center;
	height:10%;
	width:100%;
}
.caracteristics-container{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:100%;
	height:30%;
}
.caracteristics-inputs{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	width:80%;
	height:100%;
}
.caracteristics-documents{
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top:10%;
	justify-content: space-around;
	height:20%;
	width:100%;
}
.caracteristics-documents-title{
	font-size:3vh;
	color:$balanced;
}
.input-caracteristics{
	align-items: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	height:80%;
	width:80%;
}
.caracteristics-button{
	align-items: center;
	display:flex;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	margin-top:5%;
	height:8%;
	width:80%;
}
.caracteristics-inputs-mesurements{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 2%;
	height:100%;
	width:85%;
	input{
		border:1px solid $balanced;
		width:48%;
		padding: 2%;
		height:100%;
	}
}
.mesurements-options{
	display: flex;
	flex-direction: row;
	width:48%;
}
.mesurements-options-radio{
	border:1px solid $balanced;
	cursor: none;
	.mesurements-options-radio:after{
	cursor: none;
}
	.radio-icon:after{
		background-color:$balanced;
		visibility: hidden;
	}
}
.errands-caracteristics-input{
	align-items: center;
	display:flex;
	flex-direction: row;
	justify-content: center;
	width:100%;
	height:20%;
	input{
		border:1px solid blue;
		height:90%;
		text-align: center;
		width:80%;
	}
}
.errands-caracteristics{
	align-items: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-top:10%;
	width:100%;
	p{
		color:$balanced;
		text-align:center;
		margin-bottom:10%;
		font-size:2vh;
		width:60%;
	}
}
