.axpress-bg{
	@media screen and (max-height: 2560px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalxxxhdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and (max-height: 1920px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalxxhdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and (max-height: 1280px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalxhdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and (max-height: 960px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalhdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and (max-height: 736px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalhdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and (max-height: 667px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalhdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and (max-height: 568px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalhdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and (max-height: 480px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalmdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and (max-height: 320px){
		background-image: url('../img/Backgroundprincipal/Backgroundprincipalmdpi.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
}
