.button-default,
.button-default-two{
    align-items:center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 35px;
    color:white;
    font-size:20px;
    font-weight: bold;
    margin-left: 5%;
    min-height: 40%;
    min-width: 90%;
    @media screen and (max-height: 2560px){
        min-height: 40%;
    }
    @media screen and (max-height: 1920px){
        min-height: 40%;
    }
    @media screen and (max-height: 1280px){
        min-height: 40%;
    }
    @media screen and (max-height: 960px){
        min-height: 40%;
    }
    @media screen and (max-height: 736px){
        min-height: 37%;
    }
    @media screen and (max-height: 667px){
        min-height: 35%;
    }
    @media screen and (max-height: 568px){
        min-height: 45%;
    }
    @media screen and (max-height: 480px){
        min-height: 35%;
    }
    @media screen and (max-height: 320px){
        min-height: 25%;
        font-size:18px;
        margin-bottom: 5%;
        margin-left: 5%;
        min-width: 90%;
    }
}
.button-default{
    background-color: rgba(white,.2);
    &:hover{
        background-color: rgba(white,.5);
        color:white;
        font-weight: bold;
    }

}
.button-default-two{
    background-color: rgba($createAccauntTap,1);
    &:hover{
        background-color: rgba($createAccaunt,1);
        color:white;
        font-weight: bold;
    }
}

.facebook{
	background-color:$balanced;
	i{
		color:white;
	}
}
.gplus{
	background-color:red;
	i{
		color:white;
	}
}
.bgorange{
	background-color:$energized;
}
.button-bottom{
    margin-bottom: 1%;
	position:absolute;
	bottom: 11%;
    @media screen and (max-height: 854px){
        bottom: 8%;
    }
    @media screen and (max-height: 736px){
        bottom: 9%;
    }
    @media screen and (max-height: 667px){
        bottom: 10%;
    }
    @media screen and (max-height: 568px){
        bottom: 11%;
    }
    @media screen and (max-height: 480px){
        bottom: 13%;
    }
    @media screen and (max-height: 320px){
        bottom: 18%;
        margin-bottom: 1%;
    }
}
.button-bottom-two{
    position:absolute;
    bottom: 1%;
}
