.container-button{
	display:inline-flex;
	justify-content: space-around;
	flex-direction: column;
	font-size: 2vh;
	width:80%;
	height:100%;
}
.button-noicon{
	border:none;
	align-items: center;
	display:flex;
	color:white;
	text-decoration: none;
	justify-content: center;
	font-size: 2vh;
	background-color:$balanced;
	width:100%;
	height:100%;
}
.two-buttons-container-column{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:20%;
	width:100%;
}
.button-icon{
	align-items: center;
	background-color:$positive;
	display:flex;
	color:white;
	flex-direction: row;
	justify-content: center;
	height:100%;
	font-size: 2vh;
	margin-bottom: 4%;
	width:100%;
	text-decoration:none;
	i{
	align-items: center;
	display:flex;
	color:white;
	font-size: 3vh;
	justify-content: center;
	width:15%;
	height:100%;
	}
	label{
	align-items: center;
	color:white;
	cursor: pointer;
	display:flex;
	font-size: 2.5vh;
	justify-content: center;
	height:100%;
	width:85%;
	}
}
.facebook{
	background-color:$balanced;
	i{
		color:white;
	}
}
.gplus{
	background-color:red;
	i{
		color:white;
	}
}
.bgorange{
	background-color:$energized;
}