@font-face {
		font-family: 'Gautami';
		src: url('font-axpress/gautami.ttf');
		src: url('font-axpress/gautami.ttf');
		font-stretch: normal;
		font-style: normal;
}
*{
	box-sizing: border-box;
}
input,
textarea,
select,
button{
	font-weight: 200;
	padding-top: 0;
	outline: none;
}
input,
textarea{
	box-sizing: border-box;
}
/* Generalized inputs */
.inputs-container{
	display:flex;
	min-height:50px;
	flex-direction: row;
		margin-bottom: 5px;
		border-bottom: 1px solid rgba($graybbb,0.5);
	width:90%;
	i{
		align-items: center;
		display:flex;
		color:white;
				font-size: 2.5vh;
				justify-content: center;
		width:20%;
	}
	label{
			align-items: center;
			display:flex;
				height: 100% !important;;
			color:white;
			justify-content: center;
			border-left: 1px solid rgba($graybbb,0.5);
			width:80%;
		input{
			background-color:rgba($grayb,0.01);
			font-size: 2.5vh;
						color:$graybbb;
						font-weight: bold;
						height:70% !important;
			padding:5%;
			width:100%;
						&:focus{
								color:$graybbb;
								font-weight: bold;

						}
		}
	}
}
.inputs-container-last{
		display:flex;
		min-height:50px;
		flex-direction: row;
		width:90%;
		i{
				align-items: center;
				display:flex;
				color:white;
				font-size: 2.5vh;
				justify-content: center;
				width:20%;
		}
		label{
				align-items: center;
				display:flex;
				height: 100% !important;;
				color:white;
				justify-content: center;
				border-left: 1px solid rgba($graybbb,0.5);
				width:80%;
				input{
						background-color:rgba($grayb,0.01);
						font-size: 2.5vh;
						color:$graybbb;
						font-weight: bold;
						height:70% !important;
						padding:5%;
						width:100%;
						&:focus{
								color:$graybbb;
								font-weight: bold;

						}
				}
		}
}
.no-left-border{
	border:none!important;
}
.white-space{
	margin-top:5%;
}
.border-blue{
	border:1px solid $balanced;
	i{
		background-color:$balanced;
	}
}
.border-orange{
	border:1px solid $energized;
	i{
		background-color:$energized;
	}
}
.space{
	height:15%;
}
.spacetwo{
		height:5%;
}
.center-button{
	margin-left: auto;
	margin-right: auto;
	margin-top:5%;
	height:10%;
	width:80%;
}
.bar,
.bar.bar-header,
.bar-balanced{
		background-color: $graybbb;
		border: 0;
		font-size: 3vh;
		font-weight:bold;
		width: 100%;
		margin: 0;
		padding: 0;
}
.icon-user{
		background-image: url('../img/inputs/user.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-pass{
		background-image: url('../img/inputs/password.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-email{
		background-image: url('../img/inputs/mail.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-phone{
		background-image: url('../img/inputs/Phone.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-cinit{
		background-image: url('../img/inputs/CajaText-Cedula.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-marker-gray{
		background-image: url('../img/inputs/pin-direccion.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-marker-color{
		background-image: url('../img/inputs/pin-direccion1.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-marker-color2{
		background-image: url('../img/inputs/pin-direccion2.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-flag-gray{
		background-image: url('../img/inputs/Flag-direccion.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-flag-color{
		background-image: url('../img/inputs/Flag-direccion1.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-flag-color2{
		background-image: url('../img/inputs/Flag-direccion2.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
}
.icon-camera-gray{
    background-image: url('../img/inputs/Camara2.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-camera-color{
    background-image: url('../img/inputs/Camara1.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-gallery-gray{
    background-image: url('../img/inputs/Gallery1.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-gallery-color{
    background-image: url('../img/inputs/Gallery2.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}
ion-content{
		background-image: url('../img/backgrounds/fondo1.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

}
ion-radio{
	background-color:none;
}
