.facebook-icon{
    border:none !important;
    background-color: transparent;
    background-image: url("../img/Iconofacebook/Facebookhdpi.png");
    background-size: 100%;
    background-repeat:no-repeat;
    @media screen and (max-height: 2560px){
        background-image: url("../img/Iconofacebook/Facebookxxxhdpi.png");
        background-size: 100%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 1920px){
        background-image: url("../img/Iconofacebook/Facebookxxhdpi.png");
        background-size: 100%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 1280px){
        background-image: url("../img/Iconofacebook/Facebookxhdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 960px){
        background-image: url("../img/Iconofacebook/Facebookhdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 736px){
        background-image: url("../img/Iconofacebook/Facebookhdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 667px){
        background-image: url("../img/Iconofacebook/Facebookhdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 568px){
        background-image: url("../img/Iconofacebook/Facebookhdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 480px){
        border:none !important;
        background-color: transparent;
        background-image: url("../img/Iconofacebook/Facebookmdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 320px){
        border:none !important;
        background-color: transparent;
        background-image: url("../img/Iconofacebook/Facebookmdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    &:hover{
        @media screen and (max-height: 2560px){
            background-image: url("../img/IconoFacebookTAP/FacebookTapxxxhdpi.png");
            background-size: 100%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 1920px){
            background-image: url("../img/IconoFacebookTAP/FacebookTapxxhdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 1280px){
            background-image: url("../img/IconoFacebookTAP/FacebookTapxhdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 960px){
            background-image: url("../img/IconoFacebookTAP/FacebookTaphdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 736px){
            background-image: url("../img/IconoFacebookTAP/FacebookTaphdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 667px){
            background-image: url("../img/IconoFacebookTAP/FacebookTaphdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 568px){
            background-image: url("../img/IconoFacebookTAP/FacebookTaphdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 480px){
            border:none !important;
            background-color: transparent;
            background-image: url("../img/IconoFacebookTAP/FacebookTapmdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 320px){
            border:none !important;
            background-color: transparent;
            background-image: url("../img/IconoFacebookTAP/FacebookTapmdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
    }
}
.google-icon{
    border:none !important;
    background-color: transparent;
    background-image: url("../img/IconoGoogle/Googlemdpi.png");
    background-size: 90%;
    background-repeat:no-repeat;
    @media screen and (max-height: 2560px){
        background-image: url("../img/IconoGoogle/Googlexxxhdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 1920px){
        background-image: url("../img/IconoGoogle/Googlexxhdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 1280px){
        background-image: url("../img/IconoGoogle/Googlexhdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 960px){
        background-image: url("../img/IconoGoogle/Googlehdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 736px){
        background-image: url("../img/IconoGoogle/Googlehdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 667px){
        background-image: url("../img/IconoGoogle/Googlehdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 568px){
        background-image: url("../img/IconoGoogle/Googlehdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 480px){
        border:none !important;
        background-color: transparent;
        background-image: url("../img/IconoGoogle/Googlemdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    @media screen and (max-height: 320px){
        border:none !important;
        background-color: transparent;
        background-image: url("../img/IconoGoogle/Googlemdpi.png");
        background-size: 90%;
        background-repeat:no-repeat;
    }
    &:hover{
        @media screen and (max-height: 2560px){
            border:none !important;
            background-color: transparent;
            background-image: url("../img/IconoGoogleTAP/GoogleTapxxxhdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 1920px){
            background-image: url("../img/IconoGoogleTAP/GoogleTapxxhdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 1280px){
            background-image: url("../img/IconoGoogleTAP/GoogleTapxhdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 960px){
            background-image: url("../img/IconoGoogleTAP/GoogleTaphdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 736px){
            background-image: url("../img/IconoGoogleTAP/GoogleTaphdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 667px){
            background-image: url("../img/IconoGoogleTAP/GoogleTaphdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 568px){
            background-image: url("../img/IconoGoogleTAP/GoogleTaphdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 480px){
            border:none !important;
            background-color: transparent;
            background-image: url("../img/IconoGoogleTAP/GoogleTapmdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
        @media screen and (max-height: 320px){
            border:none !important;
            background-color: transparent;
            background-image: url("../img/IconoGoogleTAP/GoogleTapmdpi.png");
            background-size: 90%;
            background-repeat:no-repeat;
        }
    }
}

