<div class="bar bar-header bar-balanced">
     <h3 class="title">DESTINO DE LA DILIGENCIA</h3>
</div>
<ion-view view-title="SendType">
    <ion-content scroll="false" >

    <section class="main-container-maps">
        <div class="inputs-maps">
        <div class="inputs-container border-blue">
                <i class="ion-map"></i>
                <label class="">
                    <input type="text" placeholder="Escribe la dirección aquí...">
                </label>
        </div>
        </div>
        <div class="errands-destinatary-input">
            <div class="inputs-container border-blue">
                <i class="ion-person"></i>
                <label class="">
                    <input type="text" placeholder="Nombre des Destinatario">
                </label>
            </div>
            <div class="inputs-container border-blue">
            <i class="ion-iphone"></i>
                <label class="">
                    <input type="tel" placeholder="Telefono">
                </label>
            </div>
        </div>
        <div class="pickuphere-button-container">
        <a class="button-noicon bgorange" href="#/documentsdetaildestiny" title="">AGREGAR DIRECCIÓN</a>
        <a class="button-noicon" href="#/errandsresume" title="">FIN DE LA DILIGENCIA</a>
        </div>


    </section>

    </ion-content>
</ion-view>