<div class="bar bar-header bar-balanced bar-origin">
    <h3 class="title">Destino</h3>
    <div class="list list-inset input-direction">
        <map-autocomplete-address class="item item-input inputs-general input-origin" on-place-changed="placeChanged" address="tempData.address"></map-autocomplete-address>
        <input class="item item-input inputs-general input-originDetail" ng-model="tempData.destinyDetail" type="text" placeholder="Detalles: Apt - Casa - Oficina">

    </div>
</div>

<ion-view view-title="SendType">
    <ion-content scroll="false">
        <address-selection center="place" markers="markers" callbacks="mapCallbacks"></address-selection>

        <div class="errands-inputs">
            <div class="list list-inset input-direction">
                <input class="item item-input inputs-general input-diligence-destinatary" on-place-changed="placeChanged" ng-model="tempData.name" ng-pristine="focusednamedestinatary = true" type="text" placeholder="Nombre del destinatario">
                <input class="item item-input inputs-general input-diligence-phone" ng-model="tempData.phone" type="tel" placeholder="Teléfono">
            </div>
        </div>

        <i class="hide-on-keyboard-open row button-bottom-three button-gps-two" ng-click="gpsHere()" title=""></i>
        <div class="hide-on-keyboard-open row button-bottom-two button-confirm-position-two">
            <a class="button button-block button-default-two button-confirm" ng-click="addNewAddress()">
                Más direcciones
            </a>
            <a class="button button-block button-default-two button-confirm" ng-click="confirmDestiny()">
                Finalizar
            </a>
        </div>

    </ion-content>
</ion-view>
