<div class="bar bar-header bar-balanced">
		 <h3 class="title">DESTINO DE LA DILIGENCIA</h3>
</div>
<ion-view view-title="SendType">
		<ion-content scroll="false" >

				<address-selection center="place" markers="markers"></address-selection>

				<div class="input-direction">
						<div class="inputs-container">
                            <i ng-if="focused === true" class="icon-marker-color2"></i>
                            <i ng-if="focused === false" class="icon-marker-gray"></i>
								<label>
										<map-autocomplete-address on-place-changed="placeChanged" address="{{address}}"></map-autocomplete-address >
								</label>
						</div>
						<div class="inputs-container-last flag-maps">
                            <i ng-if="focused2 === true" class="icon-flag-color2"></i>
                            <i ng-if="focused2 === false" class="icon-flag-gray"></i>
								<label>
										<input ng-model="data.destinyDetail" ng-focus="focused2 = true"
                                               ng-blur="focused2 = false" type="text" placeholder="Detalles de direccion">
								</label>
						</div>
				</div>

            <i class="gps-button icon-location-color2" ng-click="gpsHere()" title=""></i>
            <div class="errands-destinatary-input">
                <div class="inputs-container">
                    <i ng-if="focusednamedestinatary === true" class="icon-user"></i>
                    <i ng-if="focusednamedestinatary === false" class="icon-user-gray"></i>
                    <label>
                        <input ng-model="data.destinyName" ng-focus="focusednamedestinatary = true"
                               ng-blur="focusednamedestinatary = false" ng-pristine="focusednamedestinatary = true" type="text" placeholder="Nombre del destinatario">
                    </label>
                </div>
                <div class="inputs-container-last flag-maps">
                    <i ng-if="focusedphonedestinatary === true " class="icon-phone"></i>
                    <i ng-if="focusedphonedestinatary === false" class="icon-phone-gray"></i>
                    <label>
                        <input ng-model="data.cellphoneDestinyClient" ng-focus="focusedphonedestinatary = true"
                               ng-blur="focusedphonedestinatary = false" type="text" placeholder="Teléfono">
                    </label>
                </div>
            </div>
            <div class="new-direction-button" ng-show="extraData.arrayPositionDestiny===-1">
                <a class="button-noicontwo" ng-click="addNewDirection()" title="">AGREGAR DIRECCION</a>
            </div>
            <div ng-if="buttonState === false" class="pickuphere-button">
                <a class="button-noicontwo" ng-click="pickHere()" title="">ENTREGAR AQUÍ</a>
            </div>
            <div ng-if="buttonState === true" class="pickuphere-button">
				<a class="button-noicontwo" ng-click="confirmDestiny()" title="">CONFIRMAR</a>
            </div>
		</ion-content>
</ion-view>

