<div class="bar bar-header bar-balanced">
		 <h3 class="title">TIPO DE ENVÍO</h3>
</div>
<ion-view view-title="SendType">
		<ion-content scroll="false" >
		<div class="space">
		</div>
				<section class="send-type-todo">
						<div>
								<span>Elige el tipo de envío que quieres realizar.</span>
						</div>
				</section>
				<section class="send-type-options">
						<ion-radio ng-repeat="bag in bagservice" class="send-type-options-radio" ng-model="choice.bag"
											 ng-value="bag.shipping_bag_id" >
						{{bag.subtitle}}
						</ion-radio>

				</section>
				<section class="caracteristics-documents">
			<div class="caracteristics-documents-title">
				Características del paquete.
			</div>
			<div class="input-caracteristics">
				<div class="inputs-container">
					<label class="no-left-border">
						<input type="number" min="0" class="no-left-border" name="declaredvalue" ng-model="data.amountDeclared" placeholder="Valor Declarado...">
					</label>
				</div>
				<div class="inputs-container">
					<label class="no-left-border">
						<input type="text" class="no-left-border"  name="shortdescription" ng-model="data.descriptionText" placeholder="Breve descripción de tu envío">
					</label>
				</div>
			</div>
		</section>
				<section class="button-bottom">

				<div class="container-button">
						<a class="button-noicon " ng-click="confirmServiceType()" title="">CONTINUAR</a>
				</div>
				</section>



		</ion-content>
</ion-view>
