<div class="bar bar-header bar-balanced bar-sendtype">
    <h3 class="title">Resumen de la diligencia</h3>
</div>
<ion-view view-title="Resumen del Envío">
    <ion-content scroll="false">
        <section class="sentresume-data">
            <section class="sentresume-content-top">
                <div class="data-origin">
                    <b>Origen de la diligencia</b>
                    <p>{{ data.originAddress }}</p>
                    <p>{{ data.originDetail }}</p>
                </div>
                <a class="" ng-click="editOrigin()" title="">
                    <i class="ion-edit"></i>&nbsp;Editar
                </a>
            </section>
            <section class="sentresume-content">
                <div class="data-origin">
                    <b>Paradas {{ data.destiniesData.length || ""}}</b>
                    <p ng-repeat="address in data.destiniesData">{{ $index + 1 }}.{{ address.address }}</p>
                </div>
                <a class="" ng-click="editDestiny()" title="">
                    <i class="ion-eye"></i>&nbsp;Ver
                </a>
            </section>
            <section class="sentresume-content-top">
                <div class="data-origin">
                    <b>Características diligencia</b>
                    <p>{{ data.descriptionText }}</p>
                    <p>Ida y Vuelta: <span ng-if="data.samepoint">Si</span><span ng-if="!data.samepoint">No</span></p>
                </div>
                <a class="" ng-click="editFeatures()" title="">
                    <i class="ion-edit"></i>&nbsp;Editar
                </a>
            </section>
            <section class="sentresume-content">
                <div class="data-origin">
                    <b>Destinatarios</b>
                    <p ng-repeat="destinatario in data.destiniesData">{{ $index + 1 }}.{{ destinatario.name }}/{{ destinatario.phone }} .</p>
                </div>
                <a class="" ng-click="editDestiny()" title="">
                    <i class="ion-edit"></i>&nbsp;Editar
                </a>
            </section>
        </section>
        <section class="sentresume-cost">
            Costo del envío:
            <b>&nbsp;${{ data.amount || 0}} </b>
        </section>
        <div class="hide-on-keyboard-open row button-bottom-two button-confirm-position">
            <a class="button button-block button-default-two button-confirm" ng-click="confirmResume()">
                Confirmar envío
            </a>
        </div>
    </ion-content>
</ion-view>
