.history-lists{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(flex-start);
    @include widheigh(100%,100%,100%,100%);
    @include responsivewidthheight(100%,100%,100%,100%,200px,200px,auto,auto,250px,250px,auto,auto,250px,250px,auto,auto);
}
.item-avatar{
	width: 100%;
    min-width: 100%;
    color:white !important;
    background-color: $positive;
    margin-bottom: 2px !important;
}
.list .item.item-accordion {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    height:200px;
    min-height:200px;
	transition: 0.09s all linear;
}
.list .item.item-accordion div{
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-around);
	transition: 0.09s all linear;
}
.historial-data{
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-around);
    @include align-items(flex-start);
}
.historial-button{
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-around);
    @include align-items(center);
	a{
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-around);
        @include align-items(center);
        @include widheigh(100%,100%,100%,100%);
        @include responsivewidthheight(100%,100%,100%,100%,100%,100%,100%,100%,100%,100%,100%,100%,100%,100%,100%,100%);
		background-color: $balanced;
		border-radius: 25px;
		color: $stable;
		margin-left: 15%;
		margin-top: 10%;
		padding:7%;
		text-decoration: none;
	}
}
.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated{
    background-color: $positive;
}
.list .item.item-accordion.ng-hide {
	width: 100%;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
}

.sub-item {
}
.full-size{
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include widheigh(100%,100%,200px,200px);
    @include responsivewidthheight(100%,100%,200px,200px,100%,100%,250px,250px,100%,100%,290px,290px,100%,100%,290px,290px);
    margin-top: 5%!important;
}
.ion-ios-arrow-up:before {
    color:transparent;
    content: '`';
    height: 20px;
    width: 20px;
    @include media-icons-ios("../img/Vermenoshistorial/Vermenos.png","../img/Vermenoshistorial/Vermenos.png","../img/Vermenoshistorial/Vermenos2x.png.png","../img/Vermenoshistorial/Vermenos2x.png.png","../img/Vermenoshistorial/Vermenos3x.png.png","../img/Vermenoshistorial/Vermenos3x.png.png");
    background-size: 50% !important;
}
.ion-ios-arrow-down:before {
    color:transparent;
    content: '`';
    @include media-icons-ios("../img/Vermashistorial/Vermas.png","../img/Vermashistorial/Vermas.png","../img/Vermashistorial/Vermas2x.png.png","../img/Vermashistorial/Vermas2x.png.png","../img/Vermashistorial/Vermas3x.png.png","../img/Vermashistorial/Vermas3x.png.png");
    background-size: 50% !important;

}
