<div class="bar bar-header bar-balanced">
	 <h1 class="title">CHAT</h1>
</div>
<ion-view view-title="Chat">
	<ion-content scroll="false" >
		<section class="main-container">
			<div class="chat-container">
				<div class="chat-destinatary">
					<div class="chat-from">
					Axpress
					</div>
					<div class="chat-message-hour">
						<div class="chat-message">
						Buenos días.
						</div>
						<div class="chat-hour">
						2:30pm
						</div>

					</div>
				</div>
				<div class="chat-sender">
					<div class="chat-from">
					Axpress
					</div>
					<div class="chat-message-hour">
						<div class="chat-message">
						Buenos días.
						</div>
						<div class="chat-hour">
						2:30pm
						</div>

					</div>
				</div>
				<div class="chat-destinatary">
					<div class="chat-from">
					Axpress2
					</div>
					<div class="chat-message-hour">
						<div class="chat-message">
						Buenos días.
						</div>
						<div class="chat-hour">
						2:30pm
						</div>

					</div>
				</div>
				<div class="chat-sender">
					<div class="chat-from">
					Axpress
					</div>
					<div class="chat-message-hour">
						<div class="chat-message">
						Buenos días.
						</div>
						<div class="chat-hour">
						2:30pm
						</div>

					</div>
				</div>
			</div>
			<div class="chat-container-input">
			<div class="chat-camera">
				<a href="" class="ion-camera"></a>
			</div>
			<div class="chat-input">
			<label class="item item-input">
				<input type="text" placeholder="Mensaje">
			</label>
			</div>
			<div class="chat-button">
			<a href="" title="">Enviar</a>
			</div>

			</div>
		</section>
	</ion-content>
</ion-view>