<div class="bar bar-header bar-balanced">
	 <h1 class="title">DETALLES DEL DESTINO</h1>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >

	<section class="main-container-maps">
		<div class="input-direction-confirm">
				<i class="ion-map"></i>
				<label class="">
					<input type="text" placeholder="Escribe la dirección aquí...">
				</label>
		</div>
		<div class="confirm-button">
		<a class="confirm-button-traditional" href="#/sendtype" title="">CONFIRMAR</a>
		</div>


	</section>

	</ion-content>
</ion-view>