<div class="bar bar-header bar-balanced">
	 <h3 class="title">ORIGEN DEL DOCUMENTO</h3>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >

	<section class="main-container-maps">
		<div class="input-direction">
			<div class="inputs-container border-blue">
				<i class="ion-map"></i>
				<label class="">
					<input type="text" placeholder="Escribe la dirección aquí...">
				</label>
			</div>
		</div>
		<div class="pickuphere-button">
		<a class="button-noicon" href="#/documentsdetailorigin" title="">RECOGER AQUÍ</a>
		</div>


	</section>

	</ion-content>
</ion-view>