<div class="bar bar-header bar-balanced">
	 <h1 class="title">DESTINO DEL DOCUMENTO</h1>
</div>
<ion-view view-title="SendType">
	<ion-content scroll="false" >

	<section class="main-container-maps">
		<div class="input-direction">
				<i class="ion-map"></i>
				<label class="">
					<input type="text" placeholder="Escribe la dirección aquí...">
				</label>
		</div>
		<div class="pickuphere-button">
		<a class="pickuphere-button-traditional" href="#/documentsdetaildestiny" title="">ENTREGAR AQUÍ</a>
		</div>


	</section>

	</ion-content>
</ion-view>