<div class="bar bar-header bar-balanced">
	 <h1 class="title">TU CUENTA</h1>
</div>
<ion-view view-title="Register">
	<ion-content scroll="false" >

		<section class="register-container-tradictional">
		<div class="register-traditional-input">
			<div class="register-input-username">
				<i class="ion-person"></i>
				<label class="">
					<input type="text" placeholder="Nombre de Usuario">
				</label>
			</div>

			<div class="register-input-mail">
				<i class="ion-email"></i>
				<label class="">
					<input type="email" placeholder="Correo Electrónico">
				</label>
			</div>
			<div class="register-input-password">
				<i class="ion-ios-telephone"></i>
				<label class="">
					<input type="tel" placeholder="Teléfono">
				</label>
			</div>
			<div class="register-input-phone ">
				<i class="ion-locked"></i>
				<label class="">
					<input type="password" placeholder="Contraseña">
				</label>
			</div>
		</div>
		<div class="register-button">
		<a class="register-button-traditional" href="#/history" title="">GUARDAR CAMBIOS</a>
		</div>
		</section>

	</ion-content>
</ion-view>