<ion-view view-title="Welcome">
	<ion-content scroll="false" overflow-scroll="false" class="axpress-bg">
        <div class="space-welcome"></div>

        <ion-slide-box>
            <ion-slide>

                <div class="row ">
                    <div class="col text-center welcome-title">Mensajería</div>
                </div>
                <div class="row">
                    <div class="col col-80 col-offset-10 text-center welcome-info">Innovación para obtener el mejor servicio express en mensajería de documentos envíos y diligencias desde tu dispositivo móvil y tu pc.</div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="row ">
                    <div class="col text-center welcome-title">Paquetes</div>
                </div>
                <div class="row">
                    <div class="col col-80 col-offset-10 text-center welcome-info">Tenemos la experiencia para apoyarte en los momentos críticos e importantes para tu actividad diaria.</div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="row ">
                    <div class="col text-center welcome-title">Diligencias</div>
                </div>
                <div class="row">
                    <div class="col col-80 col-offset-10 text-center welcome-info">La oportunidad y nuestro enfoque en servicio y trazabilidad te apoyan para lograr tus resultados.</div>
                </div>
            </ion-slide>

        </ion-slide-box>
        <div class="row button-bottom-welcome">
            <a class="button button-block button-default button-createaccount" ui-sref="auth.login" >
                Iniciar sesíon
            </a>
        </div>
        <div class="row button-bottom-welcome-two">
            <a class="button button-block button-default button-createaccount" ui-sref="auth.register">
                Crear cuenta
            </a>
        </div>
    </ion-content>
</ion-view>
